{% extends "base.html" %}

{% block content %}
<div class="container-fluid text-center mt-3">
    <h1 class="errorpage-title"> Erreur de serveur interne (500)</h1>
    <div class="errorpage-section">
        <h4>Une erreur serveur inattendue c'est produite!</h4>
        <p>L'administrateur du serveur a été notifié. Veuillez nous excuser pour le désagrément!</p>
        <div style = "text-align: center; margin-top: 50px; margin-bottom: 100px;">
            <a href="{{ url_for('home_bp.home') }}" >
                <button class="btn btn-primary " name="back" type="back">Retour</button>
            </a>
        </div>  
    </div>
</div>
{% endblock %}