<!--navbar links-->	
{% block nav %}	
<nav class="navbar navbar-expand-lg py-3 navbar-light sticky-top" style="background-color: #334257fa;">
	<a class="navbar-brand mb-0 h1" href="{{ url_for('home_bp.home') }}">
		<img src="{{ url_for('static', filename='img/nantes_nobg.png') }}" width="30" height="30" alt="logo nantes">
		<span> Opti Cantines Predict </span>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
    	<li class="nav-item">
        <a class="nav-link" href="{{ url_for('predict_bp.predict') }}"> <span class="link-nav"> Prédiction </span> </a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ url_for('predict_bp.multi_predict') }}"> <span class="link-nav"> Prédictions par lots </span> </a>
		</li>
		{% if current_user.is_authenticated %}
		<li class="nav-item">
			<a class="nav-link" href="{{ url_for('home_bp.logout') }}"> <span class="link-nav"> Se déconnecter </span></a>
		</li>
		{% endif %}
    </ul>
	</div>
	</nav>

{% endblock %}