
{% extends "base.html" %}

{% block head %}

{{ super() }}

<style>
.card{
	text-align:center;
	margin: 0 auto;
	width: 75%;
}
.carousel {
	text-align:center;
	height: 70%;
	width: 75%;
	margin: 50px auto;
}
@media screen and (min-width : 764px) {
	.carousel {
		height: 60%;
		width: 65%;
	}
}
@media only screen and (min-width : 1024px) {
	.carousel {
		height: 50%;
		width: 55%;
	}
}
.carousel-inner .item img {
	min-width: 100%;
	width: 100%;
}
.submit-button {   
        font-size: 15px;
        font-weight: bold;
		text-align: center;
}
.carousel-caption {
	color: beige;
}
</style>

{% endblock %}

{% block content %}

{% include "nav.html" %}


<div class="container-fluid">
	<!--chart descriptions-->

	<div class="card mt-5" >
		<div class="card-body">
		<h2 class="card-title text-center">Opti Canteen permet un suivi à 360 degrés de votre activité.</h2>
		<p class="card-text text-center"> Bienvenue sur votre nouvel outil de pilotage et d'intelligence artificielle. 
			<br>
			En se basant sur l'historique de données à disposition et les retours des équipes sur le terrain, 
			cet outil doit permettre de résoudre les problématiques de gaspillage alimentaire et d'approvisionnement auxquelles vous êtes confronté au quotidien.
			Pour ce faire, Opti Canteen mêle analyses descriptive, prédictive et prescriptive.</p>
		<div class="sep"><hr/></div>
		<p class="card-text text-center">N'hesitez pas à vous rendre dans la partie Contact afin de nous faire par de vos idées!</p>
	</div>
</div>

	<div id="carouselNav" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
		  <li data-target="#carouselNav" data-slide-to="0" class="active"></li>
		  <li data-target="#carouselNav" data-slide-to="1"></li>
		  <li data-target="#carouselNav" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" style="border-radius: 5px; box-shadow: 0 0 10px rgba(85, 83, 83, 0.623);">
		  <div class="carousel-item active">
			<a href="{{ url_for('bi_bp.freq') }}">
			<img class="d-block w-100" src="{{ url_for('static', filename='img/bi.jpg') }}" alt="bi app page">
			<div class="carousel-caption">
				<h3>Opti Canteen BI</h3>
			</div>
			</a>
		</div>
		  <div class="carousel-item">
			<a href="{{ url_for('predict_bp.predict') }}">
			<img class="d-block w-100" src="{{ url_for('static', filename='img/ia.jpg') }}" alt="ia app page">
			<div class="carousel-caption">
				<h3>Opti Canteen Predict</h3>
			</div>
			</a>
		</div>
		  <div class="carousel-item">
			<a href="{{ url_for('home_bp.contact') }}">
			<img class="d-block w-100" src="{{ url_for('static', filename='img/contact.jpg') }}" alt="contact page">
			<div class="carousel-caption">
				<h3>Boîte à idées</h3>
			</div>
		</a>
		</div>
		</div>
		<a class="carousel-control-prev" href="#carouselNav" role="button" data-slide="prev">
		  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		  <span class="sr-only">Précédent</span>
		</a>
		<a class="carousel-control-next" href="#carouselNav" role="button" data-slide="next">
		  <span class="carousel-control-next-icon" aria-hidden="true"></span>
		  <span class="sr-only">Suivant</span>
		</a>
	</div>

	<br>
	<form action="/delete" method="POST">
		{{ form.csrf_token }}
		<div class="submit-button">
			{{ form.submit }}
		</div>
	</form>


</div>    

{% endblock %}
